<a href="https://colab.research.google.com/github/DiegoFJusto/CotacaoPreco/blob/main/CotacaoPreco.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Usei = !pip install yfinance (enter) << para instalar

In [7]:
import pandas as pd
import yfinance as yf
from datetime import date

Exemplos de ativos **AMZN** (amazon) : consulta na Yahoo Finances

In [14]:
ativos = str(input('Digite seu ativo :')).upper()

Digite seu ativo :AMZN

A data inicial deixei fixa em **01.01.2020** e a data final sempre a **atual**

In [15]:
yf.download(ativos, start= '2020-01-01', end = date.today())

[*********************100%***********************]  1 of 1 completed

                   Open         High  ...    Adj Close   Volume
Date                                  ...
2020-01-02  1875.000000  1898.010010  ...  1898.010010  4029000
2020-01-03  1864.500000  1886.199951  ...  1874.969971  3764400
2020-01-06  1860.000000  1903.689941  ...  1902.880005  4061800
2020-01-07  1904.500000  1913.890015  ...  1906.859985  4044900
2020-01-08  1898.040039  1911.000000  ...  1891.969971  3508000
...                 ...          ...  ...          ...      ...
2021-03-10  3098.449951  3116.459961  ...  3057.639893  3008700
2021-03-11  3104.010010  3131.780029  ...  3113.590088  2770800
2021-03-12  3075.000000  3098.979980  ...  3089.489990  2418500
2021-03-15  3074.570068  3082.239990  ...  3081.679932  2913600
2021-03-16  3104.969971  3128.909912  ...  3091.860107  2510100

[303 rows x 6 columns]